* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-green: #d4e9e2;
  --dark-green: #1e3932;
  --normal-green: #00754a;
  --gold-color: #cba258;
}
.options {display: flex;
          justify-content: center;
          flex-wrap: wrap;
         }
.options article h3{text-align: center;}
.options article p {text-align: center;}

.options article {justify-content: center;
                  margin: 10px 35px 10px;
                  width: 30%;}
.options article img {width: 48px;
                      height: 48px;
                      margin: 10px 30%;}

.options article:first-child {justify-self: center;
                              margin: 10px 45%;
                              width: 100%;}